pkgbase = python-pbr
	pkgdesc = Python Build Reasonableness
	pkgver = 6.0.0
	pkgrel = 1
	url = https://pypi.python.org/pypi/pbr
	arch = any
	license = Apache
	checkdepends = python-six
	checkdepends = python-stestr
	checkdepends = python-testresources
	checkdepends = python-testscenarios
	checkdepends = python-testtools
	checkdepends = python-virtualenv
	checkdepends = python-sphinx
	checkdepends = python-testrepository
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = git+https://github.com/openstack-dev/pbr.git#commit=11151154b94f5e116c0ec8cd312df8d341553d50
	sha512sums = SKIP

pkgname = python-pbr
