pkgbase = python-pbr
	pkgdesc = Python Build Reasonableness
	pkgver = 6.0.0
	pkgrel = 4
	url = https://pypi.python.org/pypi/pbr
	arch = any
	license = Apache-2.0
	checkdepends = python-six
	checkdepends = python-stestr
	checkdepends = python-testresources
	checkdepends = python-testscenarios
	checkdepends = python-testtools
	checkdepends = python-virtualenv
	checkdepends = python-sphinx
	checkdepends = python-testrepository
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = git+https://github.com/openstack-dev/pbr.git#tag=6.0.0
	sha512sums = 4a998f47307a56f43b95a615128050fb71360a4b3fc8d9e3d539b4f8935ec19533e7b4d55cf763ff4ef3a4ae66806b1242d70980b7805a6b85c1dc4aa59fd190

pkgname = python-pbr
